h1 {
    text-align: center;
    color: white;
}

h1:hover {
    color: black;
}

* {
    background-color:rgb(239, 123, 181);
    
}

.main {
    color: white;
    width: 20%;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}

main p {
    width: 20%;
    margin: 0 auto;
    padding: 5px;
    font-size: 90%;
}

img {
    width: 10%;
    display: block;
    margin: 0 auto;
    padding: 1%;
}

#main-para {
    width: 16%;
    font-size: 1.8em;
    text-align: center;
    color: white;
}

footer h6 {
    text-align: center;
}