.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.cherry-img {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
 }

.first-title {
    font-size: 300px;
    color: black;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    z-index: 1;
}

.second-title {
    font-size: 150px;
    color: brown;
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
}


